* {
  margin: 0;
  box-sizing: border-box;
}

.main_cointainer {
  width: 100%;
  height: 300px;
  /* background-color: aqua; */
}
.sub_cointainer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#image_cointainer {
  width: 30%;
  height: 100%;
  /* background-color: antiquewhite; */
}
#image1 {
  height: 80%;
  width: 100%;
  object-fit: cover;
}
#image2 {
  height: 80%;
  width: 100%;
  object-fit: cover;
}
#image3 {
  height: 80%;
  width: 100%;
  object-fit: cover;
}
#para {
  font-size: 30px;
  text-align: center;
}
